---
import { WiDirectionUp } from "solid-icons/wi";
import { getCategoryBySpeed } from "../../utils/wind-codes-beaufort";
import { windDirectionRotationStyle } from "../../utils/wind-utils";

interface Props {
  time: string;
  date: string;
  temperature: number;
  precipitation: number;
  symbol: string;
  windDirection?: number; // in degrees
  windSpeed?: number; // in m/s
}

const {
  time,
  date,
  temperature,
  precipitation,
  symbol,
  windDirection,
  windSpeed,
} = Astro.props;
---

<div
  class="flex flex-row items-start justify-between w-full h-full px-2 py-4 border-b-1 border-b-gray-200 dark:border-b-gray-700"
>
  <div>
    <div class="flex items-center">
      <div
        class="text-lg weather-time font-semibold text-gray-500 dark:text-gray-400"
      >
        {time}
      </div>
      &nbsp; - &nbsp;
      <div class="weather-date font-semibold text-gray-400 dark:text-gray-200">
        {date}
      </div>
    </div>
    <div class="weather-temperature font-semibold text-lg">
      {temperature.toFixed(1)}°
    </div>
    {
      windSpeed != null && windDirection != null && (
        <div class="weather-wind font-semibold text-lg">
          <span class="flex">
            {getCategoryBySpeed(windSpeed)}, {windSpeed.toFixed(2)} m/s
            <WiDirectionUp
              size={"2rem"}
              style={windDirectionRotationStyle(windDirection)}
            />
          </span>
        </div>
      )
    }
    <div class="weather-precipitation text-sky-600 dark:text-sky-400">
      {precipitation.toFixed(2)} mm
    </div>
    {/* <div class="weather-description">{description}</div> */}
  </div>
  <div class="text-3xl weather-symbol">{symbol}</div>
</div>
