---
export const prerender = false;

import MainWeatherDisplay from "../components/MainWeatherDisplay.astro";
import WeatherDisplay from "../components/WeatherDisplay/WeatherDisplay.astro";
import Layout from "../layouts/Layout.astro";
import LocationInput from "../components/LocationInput";
import { getCookie, setCookie } from "../utils/astro-cookies-utils";

const storedLocation = getCookie(Astro.cookies, "location")?.value;
console.log("Stored location:", storedLocation);
let location =
  Astro.url.searchParams.get("location") || storedLocation || "Stockholm";
setCookie(Astro.cookies, "location", location);

const res = await fetch(
  `${Astro.url.origin}/api/weather?location=${location}`
).then(async (r) => await r.json());
---

<Layout scrollToTop={true}>
  <div class="w-full flex justify-center">
    <div class="w-full max-w-2xl xl:max-w-3xl flex flex-col justify-center">
      <LocationInput location={location} client:only="solid-js" />
      <MainWeatherDisplay weatherData={res} />
      <WeatherDisplay weatherData={res} />
    </div>
  </div>
</Layout>
